[packager]
language = "nodejs"

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[deployment]
run = ["sh", "-c", "cd backend && npm install && node server.js"]

[env]
NODE_ENV = "production"

[nix]
channel = "stable-23.11"
