run = "cd backend && npm install && node server.js"
entrypoint = "backend/server.js"

[packager]
language = "nodejs"

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[deployment]
run = ["sh", "-c", "cd backend && npm install && node server.js"]
